button{
    transition: transform 0.2s ease;
}
button:hover{
    transform: rotate(90deg);
}
.cash{
    color: rgb(28, 152, 98);
    font-weight: 600;
}
p:first-child{
    color: rgb(76, 76, 76);
    text-transform: capitalize;
}