<div class="header">
    <div class="pb-5 pt-2">
        <div class="total d-flex flex-column justify-content-between">
            <p class="mb-0">Presupuesto Disponible</p>
            <p>{{ neto | currency }}</p>
        </div>
        <div class="income d-flex justify-content-between p-2 ps-3 pe-3 rounded-1">
            <p>INGRESOS</p>
            <p>{{ incomeTotal$ | async | currency }}</p>
            <p></p>
        </div>
        <div class="expenses d-flex justify-content-between p-2 ps-3 pe-3 mt-4 rounded-1">
            <p>EGRESOS</p>
            <p>{{ expensesTotal$ | async | currency }}</p>
            <p><span class="badge text-bg-danger">%{{ percent }}</span></p>
        </div>
    </div>
</div>